*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* using rem will use the root font-size based on that */

html{
    font-size: 100%;
}

body{
    background: url('./images/bg-intro-desktop.png');
    background-color: var(--red);
}

:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

.bold{
    font-weight: 700;
}

.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-container{
    width: 40%;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2.6vw;
    margin: 0 auto;
    width: 70%;
    line-height: 1.1;
    margin-bottom: 1.5vh;
}

.description{
    width: 70%;
    margin: 0 auto;
    font-size: .8vw;
}

.right-container{
    width: 40%;
    border: 1px solid white;
    height: 70vh;
}

.tip{
    color: white;
    background: var(--blue);
    width: 70%;
    margin: 15px 0 15px 0 ;
    text-align: center;
    padding: 1.8vh;
    font-size: .8vw;
    border-radius: 8px;
}

.form-container{

}