*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* using rem will use the root font-size based on that */

html{
    font-size: 100%;
}

body{
    background: url('./images/bg-intro-desktop.png');
    background-color: var(--red);
}

:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

.bold{
    font-weight: 700;
}

.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.left-container{
    width: 40vw;
    min-width: 40vw;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-size: 2.6vw;
    margin: 0 auto;
    width: 70%;
    line-height: 1.1;
    margin-bottom: 1.5vh;
}

.description{
    width: 70%;
    margin: 0 auto;
    font-size: .8vw;
}

.right-container{
    width: 40%;
    /* border: 1px solid white; */
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tip{
    color: white;
    background: var(--blue);
    width: 70%;
    margin: 1vh 0 3vh 0;
    text-align: center;
    padding: 1.8vh;
    font-size: .8vw;
    border-radius: .4vw;
}

.form-container{
    border: 1px solid white;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 5vh 1vh;
    background: white;
    border-radius: .4vw;
}

.input-field{
    font-size: .8vw;
    padding: 1vh 1vw;
    width: 90%;
    margin: 1.5vh auto;
    border: .1vw solid var(--grayish-blue);
    border-radius: .2vw;
    font-weight: 500;
}

.input-field::placeholder{
    color: var(--dark-blue);
}

.input-field:focus{
    outline: none;
    border: .1vw solid var(--blue);
}

.label-style{
    text-align: right;
    font-size: 0.6vw;
    color: var(--red);
    width: 90%;
    margin: 0 auto;
}

.submit{
    width: 90%;
    margin: 0 auto;
    border-radius: .2vw;
    border: .2vw solid #32B77E;
    font-size: .9vw;
    padding: .7vw;
    color: white;
    background: var(--green);
    margin-top: 1vh;
}

.agree{
    font-size: .5vw;
    width: 70%;
    margin: 1.5vh auto;

}

.red{
    color: var(--red);
}

.hidden{
    display: none;
}

.error-border{
    border-color: var(--red);
}

@media only screen and (max-width: 600px){
    .main-container{
        flex-direction: column;
        height: unset;
    }

    .left-container{
        width: 100%;
        height: auto;
        padding-top: 11vh;
    }

    h1{
        text-align: center;
        font-size: 7.6vw;
        margin-bottom: 3.5vh;
    }

    .description{
        font-size: 3.8vw;
        text-align: center;
    }

    .right-container{
        width: 100%;
        height: auto;
        padding-bottom: 11vh;
    }

    .tip{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
        padding: 6.8vw 6vw;
        font-size: 3.8vw;
        border-radius: .4vw;
        margin-top: 7vh;
    }

    .form-container{
        width: 90%;
        margin: 2vh auto;
    }

    .input-field{
        font-size: 4.8vw;
        padding: 2vh 4vw;

    }

    .label-style{
        font-size: 2.6vw;
    }

    .submit{
        font-size: 3.9vw;
        padding: 3.7vw;
    }

    .agree{
        font-size: 2.7vw;
        text-align: center;
        color: var(--grayish-blue);
    }
}